body {
    font-family: 'Lato', sans-serif !important;
}
.main {
    margin-left: 10% !important; 
    margin-right: 10% !important;
}
#hero {
    margin-left: 10% !important; 
    margin-right: 10% !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Jura', sans-serif;
  }

.btn {
    background-color: #040443 !important;
}
.btn:hover {
    background-color: #17237c !important;
}
  /* Navbar */
  .navbar {
    transition: top 0.6s;
    padding-left: 10% !important;
    padding-right: 10% !important;
    height: 60px;
    background-color: #040443;
  }
  .navbar img {
    height: 50px;
  }
  .navbar ul {
    margin-left: auto;
  }
  .nav-link {
    display: inline-block;
    padding: 10px;
    color: white !important;
    font-family: 'Lato', sans-serif !important;
    margin-left: 50px;
  }
  .nav-link:hover {
    color: #9ca7ff !important;
  }
  .navbar-toggler-icon { /* Added this */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
/* Hero */
#hero h1 {
    font-size: 4rem !important;
    text-align: center;
    line-height: 135%;
}
#hero p {
    font-size: 1.5rem !important;
    text-align: center;
    line-height: 135%;
    width: 65%;
    font-weight: lighter;
}
.btn-newsletter {
    background-color: #040443 !important;
    color: white !important;
    border: 1px solid white !important;
    padding: 10px 20px !important;
    margin-top: 20px !important;
}
.navbar-filler {
    height: 60px;
}
/* About */
.about-content {
    font-size: 2.75rem;
    font-weight: lighter;
}
/* Projects */
#project-title {
    font-weight: bold;
}
#projects h1{
    text-align: center;
    font-size: 3rem;
}
.project-description {
    min-height: 600px;
}
.project-description p {
    font-weight: lighter;
}
/* News and Updates */
#news-updates h1{
    text-align: center;
    font-size: 3rem;
}
.card {
    border: none;
    min-height: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
.card p {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: auto;
}
/* Partnerships */
#partnerships {
    margin-top: 150px;
    margin-bottom: 150px;
}
#partnerships img {
    height: 300px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#partnerships h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
#partnerships h1{
    text-align: center;
    font-size: 3rem;
}
.min-height-h2 {
    min-height: 75px; 
}
.min-height-p {
    min-height: 175px; 
    text-align: left;
    font-weight: lighter;
}
/* Social Proof */
#social-proof h1{
    text-align: center;
    font-size: 3rem;
}
#social-proof {
    margin-top: 150px;
    margin-bottom: 150px;
}
/* Footer */
footer {
    background-color: #040443;
    color: white;
    padding-top: 50px;
    width: 100%;
}
footer a {
    color: white !important;
    font-family: 'Lato', sans-serif !important;
  }
 footer a:hover {
    color: #9ca7ff !important;
  }
  footer img {
    height: 100px;
    margin-bottom: 25px;
  }
  footer p {
    padding-right: 10%;
  }

    /* Media Queries */
@media (max-width: 600px) {
    nav {
        height: 150px !important; 
    }
}