<!DOCTYPE html>
<html>
<head>
    <title>Projects - Mycelium Network</title>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500;600;700&family=Lato:wght@300;400&family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar-filler"></div>
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html"><img src="/public/img/Logo.svg"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvas" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mycelium Network</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/views/about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/views/projects.html">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/views/social-causes.html">Social Causes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#documentation">Documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <!--Projects Content -->
            <section class="hero-section vh-100 d-flex justify-content-center flex-column mb-lg-5">
                <h1 class="my-lg-5">Mycelium Network: Catalyzing Web3 Circular Economy</h1>
                <p>
                    Mycelium Network is at the forefront of integrating Web3 with the real world through its unique focus on a circular design model. 
                    As an innovative blockchain project, we strive to emulate nature's interconnected resource utilization in the digital space, 
                    breaking away from linear structures that limit potential growth and sustainability.
                </p>
                <p>Through pioneering initiatives, like MyChance, MyFInance, and MyCredit, we redefine the concept of digital value and 
                    engage a growing community in the decentralized economy. Our mission is to promote socio-economic sustainability and 
                    drive change by adopting circular strategies and introducing unprecedented solutions within the Web3 ecosystem.
                </p>
                <p>
                    Join us as we shape the future of the Web3 space, fostering a Circular Society, and paving the way for the 
                    realization of a Circular Economy.
                </p>
                <div class="mx-auto">
                <a href="#" class="btn btn-newsletter my-lg-4">Sign up to Newsletter</a>
                </div>
            </section>
        
            <!-- Project Sections -->
            <section class="project">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-lg-1">
                        <h2 class="my-lg-5">My-Chance: Rewriting the Lottery Landscape</h2>
                        <p>
                            My-Chance is a transformative lottery platform brought to life by Mycelium Network. Unlike traditional lotteries, 
                            My-Chance operates on blockchain technology and provides participants the unique opportunity to win substantial rewards 
                            while maintaining the value of their tickets. 
                        </p>
                        <p>
                            Using DeFi strategies, every ticket purchased becomes a yield-bearing asset 
                            in a liquidity pool, earning interest over time. 
                            Winners are selected algorithmically, ensuring a fair and transparent process. 
                        </p>
                        <p>
                            Even if you don't hit the jackpot, your ticket never loses its value, making every participant a winner in their own right. 
                            With My-Chance, we're reinventing the lottery experience, promoting a circular economy and embodying the future of fair and 
                            sustainable gaming.
                        </p>
                        <a id="project-button" href="#" class="btn btn-primary mt-lg-3">Go to Project</a>
                    </div>
                    <div class="col-md-6 order-1 order-lg-2">
                        <img class="project-img" src="/public/img/Slide 1_ Intro.jpg" alt="Project 1 image">
                    </div>
                </div>
            </section>
            <section class="project">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img class="project-img" src="/public/img/Slide 1_ Intro.jpg" alt="Project 1 image">
                    </div>
                    <div class="col-md-6 ps-lg-5">
                        <h2 class="my-lg-5">MyFinance is MyNet’s innovative liquidity pool protocol.</h2>
                        <p>
                            MyFinance automatically streamlines support to important social causes around the world, while 
                            generating competitive interest rates for users at the same time. 
                        </p>
                        <p>                            
                            MyFinance enables fast and efficient transactions without the high fees. 
                            MyFinance uses the Avalanche blockchain network. One of the world's most powerful and efficient layer 1 solutions!
                        </p>
                        <p>
                            MyFinance gives users the opportunity to participate in a Decentralised Financial network without the high-entry barriers.
                        </p>
                        <a id="project-button" href="#" class="btn btn-primary mt-lg-3">Go to Project</a>
                    </div>
                </div>
            </section>
            <section class="project">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-lg-1">
                        <h2 class="my-lg-5">My-Credit, the upcoming addition to Mycelium Network's pioneering project portfolio.</h2>
                        <p>
                            Building on our mission to bridge the gap between the Web3 world and traditional finance, 
                            My-Credit aims to reinvent the concept of credit unions in the decentralized landscape.
                        </p>
                        <p>
                            This groundbreaking dApp is designed to give members control over their finances like never before, 
                            facilitating peer-to-peer lending and borrowing with transparent terms and conditions, 
                            all underpinned by blockchain's trustless nature.
                        </p>
                        <p>
                            Prepare to experience the power of collective financial strength, as My-Credit democratizes access to 
                            financial services, bringing credit unions into the digital age. 
                            Stay tuned as we make strides toward a more inclusive and sustainable financial ecosystem with My-Credit!
                        </p>
                    </div>
                    <div class="col-md-6 order-1 order-lg-2">
                        <img class="project-img" src="/public/img/Slide 1_ Intro.jpg" alt="Project 1 image">
                    </div>
                </div>
            </section>
        </main>

        <footer class="text-center text-lg-start">
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <img src="/public/img/Logo.svg">
                        <p>
                            Pioneering risk-free investment opportunities in the world of blockchain. We offer the first-ever fully refundable NFTs and the first-ever Global Prize Bond system.
                        </p>
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!">About Us</a>
                            </li>
                            <li>
                                <a href="#!">Projects</a>
                            </li>
                            <li>
                                <a href="#!">Social Causes</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Connect</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Twitter</a>
                            </li>
                            <li>
                                <a href="#!">LinkedIn</a>
                            </li>
                            <li>
                                <a href="#!">Instagram</a>
                            </li>
                            <li>
                                <a href="#!">Medium</a>
                            </li>
                            <li>
                                <a href="#!">Email Us</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Mycelium Network
            </div>
        </footer>
    
    
    
    
    
        <!-- Bootstrap JS Bundle with Popper -->
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Owl Carousel -->
        <script src="node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
        <!-- Custom JS -->
        <script src="/public/js/app.js"></script>
    </body>
    </html>