body {
    font-family: 'Lato', sans-serif !important;
}
main {
    margin-left: 10% !important; 
    margin-right: 10% !important;
}
#hero {
    margin-left: 10% !important; 
    margin-right: 10% !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Jura', sans-serif;
  }

.btn {
    background-color: #040443 !important;
    border-color: #040443 !important;
}
.btn:hover {
    background-color: #17237c !important;
}
  /* Navbar */
  .navbar {
    transition: top 0.6s;
    padding-left: 10% !important;
    padding-right: 10% !important;
    height: 60px;
    background-color: #040443;
  }
  .navbar img {
    height: 50px;
  }
  .navbar ul {
    margin-left: auto;
  }
  .nav-link {
    padding: 10px;
    color: white !important;
    font-family: 'Lato', sans-serif !important;
    margin-left: 50px;
  }
  .nav-link:hover {
    color: #9ca7ff !important;
  }
  .nav-link.active {
    color: #9ca7ff !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h30M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.offcanvas-body {
    background-color: #040443;
}

/* Hero */
#hero h1 {
    font-size: 4rem !important;
    text-align: center;
    line-height: 135%;
}
#hero p {
    font-size: 1.5rem !important;
    text-align: center;
    line-height: 135%;
    width: 65%;
    font-weight: lighter;
}
.btn-newsletter {
    background-color: #040443 !important;
    color: white !important;
    border: 1px solid white !important;
    padding: 10px 20px !important;
    margin-top: 20px !important;
}
.navbar-filler {
    height: 60px;
}
/* About */
.about-content {
    font-size: 2.75rem;
    font-weight: lighter;
}
/* Projects */
#project-title {
    font-weight: bold;
}
#projects h1{
    text-align: center;
    font-size: 3rem;
}
.project-description {
    min-height: 600px;
    justify-content: center;
}
.project-description p {
    font-weight: lighter;
}
/* News and Updates */
#newsUpdates h1{
    text-align: center;
    font-size: 3rem;
}
#newsUpdates {
    padding: 2em 0; /* some vertical padding for breathing space */
}

.news-card {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    background: #fff; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1); 
    height: 500px;
}

.news-card .card-img-top {
    width: 100%;
    object-fit: cover; 
    height: 200px; 
}

.news-card .card-body {
    padding: 1em; 
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.news-card .card-title {
    padding: 1em; 
    margin-top: 10px; 
    font-size: 1.25em; 
    height: 5rem;
}

.news-card p {
    flex: 1; 
    font-weight: lighter;
}
.card {
    border: none;
    height: 500px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
.card p {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: auto;
}
.card-body p{
    bottom: 0;
}
/* Partnerships */
#partnerships {
    margin-top: 150px;
    margin-bottom: 150px;
}
#partnerships img {
    height: 300px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#partnerships h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
#partnerships h1{
    text-align: center;
    font-size: 3rem;
}
.min-height-h2 {
    min-height: 75px; 
}
.min-height-p {
    min-height: 175px; 
    text-align: left;
    font-weight: lighter;
}
/* Social Proof */
#social-proof h1{
    text-align: center;
    font-size: 3rem;
}
#social-proof {
    margin-top: 150px;
    margin-bottom: 150px;
}
#twitter-card {
    min-height: 40px;
    height: fit-content !important;
}
/* Footer */
footer {
    background-color: #040443;
    color: white;
    padding-top: 50px;
    width: 100%;
}
footer a {
    color: white !important;
    font-family: 'Lato', sans-serif !important;
  }
 footer a:hover {
    color: #9ca7ff !important;
  }
  footer img {
    height: 100px;
    margin-bottom: 25px;
  }
  footer p {
    padding-right: 10%;
  }

    /* Media Queries */
@media (max-width: 600px) {
    .navbar {
        padding-left: 5% !important;
        padding-right: 5% !important;
        height: fit-content;
    }
    main {
        margin-left: 5% !important; 
        margin-right: 5% !important;
    }
    /* Hero */
    #hero h1 {
        font-size: 2.5rem !important;
    }
    #hero p {
        font-size: 1.2rem !important;
        width: 100%;
    }
    /* About */
    .about-content {
        font-size: 1.5rem;
        text-align: left;
    }
    .learn-btn {
        display: flex;
        justify-content: center;
    }
    /* Projects */
    #projects h1{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    #projectCarousel {
        width: 100%;
    }
    .project-description {
        justify-content: start !important;
        margin-top: 2rem !important;
    }
    .card {
        height: fit-content !important;
    }
    /* Partnerships */
    #partnerships img {
        height: 150px;
        margin: 0;
    }
    /* News and Updates */
    #news-updates {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #news-updates h1{
        text-align: center;
        font-size: 2.5rem;
    }
    #newsCarousel {
        height: fit-content !important;
    }
}